    body {
        border: dotted 3px lightblue;
        box-sizing: border-box;
        margin: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1 {
        border: dotted 3px blue;
        color: white;
        background-color: #004175;
        border-bottom: 2px solid #89deef;
        border-radius: 50px 10px 50px 10px;
        font-weight: bold;
        font-size: larger;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #directory {
        border: dotted 3px purple;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .customer {
        border: outset 3px lightgray;
        border-radius: 5px 5px 5px 5px;
        margin: 3px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    img {
        border-radius: 50px 10px 50px 10px;
        border: 3px inset lightgray;
        padding-top: 3px;
    }
 /*
    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration-line: underline;
        text-transform: capitalize;
    }

    .email {
        font-style: italic;
        margin: 10vw;
        padding: 2vw;
        font-size: smaller;
    }

    .street {
        font-style: normal;
        font-size: smaller;
        font-style: normal;
    }

    .cityState {
        font-size: smaller;
        margin: 2vw;
        padding: 2vw;
    }


    .dob {
        font-style: italic;
        margin-top: 2vw;
        font-size: smaller;
    } */
